# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=0d7d38b1-aef0-418a-9401-13e3187203ea

    # Set to true to disable all reporting
    B:opt-out=false
}


